*{
    margin: 0;
    font-family: arial, helvetica,sans-serif;
}

header{
    background-color: black;
    padding-top: 36px;
    padding-bottom: 200px;
}
.container{
    max-width: 1000px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color:black;
    display: flex;
    justify-content:center;
    text-decoration: none;
    font-weight:bold;
    
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-links a{
    text-decoration: none;
    color: #D1D1D1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-subtitle-text{
    color:blueviolet;
    font-size: 13px;
    font-weight:bold;
    border-left: 1px solid #8c8c8c;
    margin-bottom: 13px;

}
